<!--start top header-->
<header class="top-header">
    <nav class="navbar navbar-expand gap-3">
      <div class="toggle-icon">
        <i class="bi bi-list"></i>
      </div>
      <div class="top-navbar-right ms-auto">
        <ul class="navbar-nav align-items-center">
          <li class="nav-item">
            <a
              class="nav-link dark-mode-icon theme-toggle"
              href="javascript:;"
            >
              <div class="mode-icon">
                <ion-icon name="moon-outline"></ion-icon>
              </div>
            </a>
          </li>

          <li class="nav-item dropdown dropdown-user-setting">
            <% if(user?.avatar){ %>
            <a
              class="nav-link dropdown-toggle dropdown-toggle-nocaret"
              href="javascript:;"
              data-bs-toggle="dropdown"
            >
              <div class="user-setting">
                <img
                  src="<%= user?.avatar %>"
                  class="user-img"
                  alt="User"
                />
              </div>
            </a>
            <% } else {%>
            <a
              class="nav-link dropdown-toggle dropdown-toggle-nocaret p-0"
              href="javascript:;"
              data-bs-toggle="dropdown"
            >
              <div
                class="d-flex justify-content-center align-items-center rounded-circle bg-primary fw-bold text-white"
                style="width: 40px; height: 40px"
              >
                <span class="text-uppercase">
                  <%= (user?.firstName?.charAt(0) || '') +
                  (user?.lastName?.charAt(0) || '') %>
                </span>
              </div>
            </a>
            <% } %>

            <ul class="dropdown-menu dropdown-menu-end">
              <!-- User Info -->
              <li>
                <div class="dropdown-item">
                  <div class="d-flex flex-row align-items-center gap-2">
                    <% if (user?.avatar) { %>
                    <img
                      src="<%= user?.avatar %>"
                      alt="User"
                      class="rounded-circle"
                      width="54"
                      height="54"
                    />
                    <% } else { %>
                    <div
                      class="d-flex justify-content-center align-items-center rounded-circle bg-primary fw-bold text-white"
                      style="width: 54px; height: 54px; font-size: 20px"
                    >
                      <span class="text-uppercase">
                        <%= (user?.firstName?.charAt(0) || '') +
                        (user?.lastName?.charAt(0) || '') %>
                      </span>
                    </div>
                    <% } %>

                    <div>
                      <h6 class="mb-0 dropdown-user-name">
                        <%= user?.firstName || '' %> <%= user?.lastName ||
                        '' %>
                      </h6>
                      <small
                        class="mb-0 dropdown-user-designation text-secondary"
                      >
                        <%= user?.role || 'Admin' %>
                      </small>
                    </div>
                  </div>
                </div>
              </li>

              <li>
                <hr class="dropdown-divider" />
              </li>

              <!-- Profile -->
              <li>
                <a class="dropdown-item" href="/admin/profile">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-person"></i>
                    <div class="ms-3"><span>My Profile</span></div>
                  </div>
                </a>
              </li>

              <!-- Change Password -->
              <li>
                <a class="dropdown-item" href="/admin/change-password">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-lock"></i>
                    <div class="ms-3"><span>Change Password</span></div>
                  </div>
                </a>
              </li>

              <!-- Settings -->
              <li>
                <a class="dropdown-item" href="/admin/settings">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-gear"></i>
                    <div class="ms-3"><span>Settings</span></div>
                  </div>
                </a>
              </li>

              <!-- Logout -->
              <li>
                <a class="dropdown-item text-danger" href="/admin/logout">
                  <div class="d-flex align-items-center">
                    <i class="bi bi-box-arrow-left"></i>
                    <div class="ms-3"><span>Logout</span></div>
                  </div>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!--end top header-->