<aside class="sidebar-wrapper" data-simplebar="true">
        <div class="sidebar-header">
          <!-- <div>
            <img
            src="<%= baseUrl %>/assets/images/breakout_logo_official.webp"
            class="logo-icon"
            alt="logo icon"
            />
          </div> -->
          <div>
            <h4 class="logo-text">Breakout</h4>
          </div>
        </div>
        <!--navigation-->
        <ul class="metismenu" id="menu">
          <li>
            <a href="<%= baseUrl %>/admin/dashboard">
              <div class="parent-icon">
                <ion-icon name="speedometer-outline"></ion-icon>
              </div>
              <div class="menu-title">Dashboard</div>
            </a>
          </li>
            <li>
              <a href="javascript:;" class="has-arrow">
                <div class="parent-icon">
                  <ion-icon name="people-outline"></ion-icon>
                </div>
                <div class="menu-title">User Management</div>
              </a>
              <ul class="shadow-sm">
                <li>
                  <a href="<%= baseUrl %>/admin/roles" class="flex gap-2">
                    <i class="bi bi-person-workspace"></i>List Roles
                  </a>
                </li>
                <li>
                  <a href="<%= baseUrl %>/admin/permissions" class="flex gap-2">
                    <i class="bi bi-person-workspace"></i>List Permissions
                  </a>
                </li>
                <li>
                  <a href="<%= baseUrl %>/admin/users" class="flex gap-2">
                    <i class="bi bi-person-lines-fill"></i> List Users
                  </a>
                </li>
              </ul>
            </li>
        </ul>

        <!--end navigation-->
      </aside>