<aside class="sidebar-wrapper" data-simplebar="true">
  <div class="sidebar-header">
    <!-- <div>
            <img
            src="<%= baseUrl %>/assets/images/breakout_logo_official.webp"
            class="logo-icon"
            alt="logo icon"
            />
          </div> -->
    <div>
      <h4 class="logo-text">Breakout</h4>
    </div>
  </div>
  <!--navigation-->
  <ul class="metismenu d-flex flex-column gap-2 menu-main-item" id="menu">
    <li>
      <a href="<%= baseUrl %>/admin/dashboard">
        <div class="parent-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        <div class="menu-title">Dashboard</div>
      </a>
    </li>
    <!-- <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-people"></i>
        </div>
        <div class="menu-title">User Management</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/roles" class="flex gap-2">
            <i class="bi bi-person-workspace"></i>List Roles
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/permissions" class="flex gap-2">
            <i class="bi bi-shield-lock"></i>List Permissions
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/users" class="flex gap-2">
            <i class="bi bi-person-lines-fill"></i> List Users
          </a>
        </li>
      </ul>
    </li>
    -->
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-collection-play-fill"></i>
        </div>
        <div class="menu-title">Media Management</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/images" class="flex gap-2">
            <i class="bi bi-card-image"></i>Images
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/videos" class="flex gap-2">
            <i class="bi bi-camera-reels"></i>Videos
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/logos" class="flex gap-2">
            <i class="bi bi-file-earmark-image"></i>Logos
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-body-text"></i>
        </div>
        <div class="menu-title">Blogs Management</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/blogs" class="flex gap-2">
            <i class="bi bi-browser-edge"></i>SEO Blogs
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-dice-3"></i>
        </div>
        <div class="menu-title">Escape Management</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/escape/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>EscapeRooms Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/escape/locations" class="flex gap-2">
            <i class="bi bi-joystick"></i>EscapeRooms Locations
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/escape/rooms" class="flex gap-2">
            <i class="bi bi-controller"></i>Escape Rooms
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/virtual/archive" class="flex gap-2">
            <i class="bi bi-badge-vr"></i>Virtual Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/virtual/game" class="flex gap-2">
            <i class="bi bi-display"></i>Virtual Games
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-cake2"></i>
        </div>
        <div class="menu-title">Party Management</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/party/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Party Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/party/birthday/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Birthday Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/party/bachelor/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Bachelor Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/party/farewell/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Farewell Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/party/birthday" class="flex gap-2">
            <i class="bi bi-cup-straw"></i>Birthday Pages
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-pc-display"></i>
        </div>
        <div class="menu-title">Corporate</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/corporate/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Corporate Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/corporate/unwind/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Corporate Unwind Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/corporate/retreat/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Corporate Retreat Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/corporate/ld/archive" class="flex gap-2">
            <i class="bi bi-house-check"></i>Corporate L & D Archive
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/corporate/ld/inner" class="flex gap-2">
            <i class="bi bi-laptop"></i>Corporate L & D Pages
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/activity" class="flex gap-2">
            <i class="bx bx-run me-2"></i>Corporate Activities
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-body-text"></i>
        </div>
        <div class="menu-title">Global CMS</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/location" class="flex gap-2">
            <i class="bi bi-geo-alt"></i>Global Locations
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a href="<%= baseUrl %>/admin/landing">
        <div class="parent-icon">
          <i class="bi bi-speedometer2"></i>
        </div>
        <div class="menu-title">Landing Pages</div>
      </a>
    </li>
    <li>
      <a href="javascript:;" class="has-arrow">
        <div class="parent-icon">
          <i class="bi bi-house-gear-fill"></i>
        </div>
        <div class="menu-title">Settings</div>
      </a>
      <ul class="shadow-sm">
        <li>
          <a href="<%= baseUrl %>/admin/site/settings" class="flex gap-2">
            <i class="bi bi-building-gear"></i>Site Settings
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/home" class="flex gap-2">
            <i class="bi bi-building-gear"></i>Home Page
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/about" class="flex gap-2">
            <i class="bi bi-building-gear"></i>About Us Page
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/static/page" class="flex gap-2">
            <i class="bi bi-building-gear"></i>Static Pages
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/tnc/list" class="flex gap-2">
            <i class="bi bi-building-gear"></i>Terms & conditions
          </a>
        </li>
        <li>
          <a href="<%= baseUrl %>/admin/founder/message" class="flex gap-2">
            <i class="bi bi-building-gear"></i>Founder Messages
          </a>
        </li>
      </ul>
    </li>
  </ul>

  <!--end navigation-->
</aside>